@base-font-size: 100px;
@bg-main-color: #F1F1F1;
@bg-fff: #FFFFFF;

@txt-color: #2A2929;
@txt-color-red: #C30D23;

@lk-main-color: #7a7a7a;


@widthArticle:100%;
@marginArticle:4%;



*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  font-size: @base-font-size;
  user-select:none;
  background-color: @bg-main-color;
}

ul{
  list-style: none;
}
a{
  text-decoration:none;
  //color: @bg-fff;
  color:#010101;
}
a:hover{
  text-decoration:none;
  //color: @txt-color-red;
  color:#010101;
}
h3{
  margin-bottom: 0;
}
input[type=text]{
  background:transparent;
  outline:none;
  border: none;
  border-radius: 0;
}

.bg-fff{
  background-color: @bg-fff;
}

.jxc-container{
  width: 100%;
  //max-width: 1200rem / @base-font-size;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 0.20rem;

  &.full{
    max-width: 100%;
  }

  &.padding{
    padding-top: 0.7rem;
    padding-bottom: .7rem;
  }

  &.padding-bottom{
    padding-bottom: .7rem;
  }

  &.padding-top{
    padding-top: .7rem;
  }

  &.margin-bottom{
    margin-bottom:.7rem;
  }
}

.jxc-nav{
  padding: .35rem 0 .31rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .24rem;
  color:#2A2929;

  .logo{
    width: 1.7rem;
    display: block;
    margin-right: 1rem;
  }

  .menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-between;*/
    margin-bottom: 0;

    li{
      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.jxc-title{
  color: @txt-color;
  font-weight: bold;
  font-size: 0.4rem;
  text-align: center;
  //line-height: 1.5;

  &.line:after{
    content: '';
    display: block;
    width: 1.82rem;
    height: 0.05rem;
    margin: 0.2rem auto 0;
    background-color: @txt-color-red;
  }

  &.no-margin{
    margin: 0;
  }

  &.sub-title{
    font-size: 0.3rem;
    font-weight: 600;
    margin-top: 0.56rem;

    span{
      color: @txt-color-red;
    }
  }
}

.user-padding{
  padding: .99rem .7rem;
  box-sizing: border-box;
}
.padding-none{
  padding-bottom:0!important;
}
.share-box{
  width: 100%;
  background-color: #fff;
  padding: .24rem .18rem;
  box-sizing: border-box;

  .share-title{
    font-size: .28rem;
    color:#5B5E66;
  }

  .share-content{
    font-size: .24rem;
    color:#999999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.user-position{
  width: 100%;
  padding: 0 .7rem;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top:.99rem;
}
.btn-place{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .32rem;
  box-sizing: border-box;
}
.button-prev,.button-next,.btn-prev,.btn-next{
  width: .39rem;
  height: .41rem;
}
.button-prev,.btn-prev{
  background: url("../img/pre.png") no-repeat;
  background-size: 100% 100%;
  margin-right: .5rem;
}
.button-next,.btn-next{
  background: url("../img/next.png") no-repeat;
  background-size: 100% 100%;
}
.paceback{
  width: 2.94rem;
  height: 5.12rem;
  padding-top: .32rem;
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: .48rem;
  color:#fff;
  background-color: #C30D23;
}
.user-text{
  font-size: .24rem;
  margin-right: .2rem;
}

.jxc-share{
  margin-left: .7rem;
  box-sizing: border-box;
  margin-top: 1.2rem;
  overflow: hidden;
}
.jxc-feedback{
  margin-right: .7rem;
  box-sizing: border-box;
  margin-top: 1.2rem;
  overflow: hidden;
}
.slide-shadow{
  box-shadow:0 0 .13rem 0 rgba(127,127,127,0.14);
}
.space-padding{
  padding-bottom: 1.55rem;
}
.footer-box{
  width: 100%;
  //padding-top: .85rem;
  //background-color: @bg-fff;
}

.footer-box img{
  width: 100%;
}

.banner-img-box{
  width: 100%;
  img{
    width: 100%;
    display: block;
  }
}

//热门文章
.top-article-box{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: .7rem;
  line-height: 2;
  font-size: .24rem;
  color:#000;
  font-weight: 500;

  .top-article-left-box,.top-article-right-box{
    width: ((@widthArticle - @marginArticle)/2);
    background-color: #fff;
    padding: .3rem;
    box-sizing: border-box;

    .top-article-title{
      font-size: .26rem;
    }

    .top-article-right-img, .top-article-left-img{
      display: block;
      width: 100%;
      height: 1.61rem;
      // margin: 0 auto;
    }

    .top-article-list {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}


//表单提交
.en-explain{
  font-size: .24rem;
  color:#858384;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: .15rem 0 .3rem;
}

.gray-line{
  display: inline-block;
  width: .44rem;
  height: .02rem;
  background-color: #A0A0A0;
}
.en-content{
  padding: 0 .06rem;
}

.user-msg-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .24rem;
  color:#6A6A6A;
}
.input-box{
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  border:.02rem solid #B5B5B5;
  border-radius: .1rem;
  padding: .16rem 0 .16rem .12rem;
  box-sizing: border-box;

  .input-style{
    width: 100%;
  }
}

.change-atricle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .last,
  .next {
    width: ((@widthArticle - @marginArticle)/2);
    height: 0.90rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: rgba(27, 26, 26, 1);
    background: rgba(255, 255, 255, 1);
    border: 0.01rem solid rgba(191, 191, 191, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



@import "banner.less";
