<!--异形轮播图部分-->
<div class="jxc-container padding-bottom jxc-special-box">
    <h3 class="jxc-title line">英语学院课程介绍</h3>
    <!--异形轮播图-->
    <div class="swiper-container jxc-banner jxc-swiper-view">
        <!--主轮播-->
        <div class="swiper-wrapper" id="viewSwiperContent">
            <!--循环模板-->
            <!--<div class="swiper-slide swiper-no-swiping">
                <a href="###">
                    <img src="img/banner001.jpg" alt=""/>
                </a>
            </div>-->
        </div>
        <!--焦点轮播-->
        <div class="focus-banner-box">
            <!--描述-->
            <div class="focus-desc-content">
                <div class="focus-title" id="focusDescTitle">实用语法实用语法实用语法</div>
                <div class="focus-contents" id="focusDescContent">项目简介项目简介项目简介项目简介项目简介项目简介项目简介项目简介项目简介项目简介</div>
            </div>
            <!--切换键-->
            <div class="focus-change-box">
                <img src="img/changeLeft.png" class="change-icon" id="arrowLeft"/>
                <div class="swiper-container swiper-focus">
                    <div class="swiper-wrapper" id="focusContent">
                        <div class="swiper-slide slide-active-nav swiper-no-swiping">
                            <a href="###">
                                <img src="img/banner001.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="swiper-slide slide-active-nav swiper-no-swiping">
                            <a href="###">
                                <img src="img/banner002.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="swiper-slide slide-active-nav swiper-no-swiping">
                            <a href="###">
                                <img src="img/banner003.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="swiper-slide slide-active-nav swiper-no-swiping">
                            <a href="###">
                                <img src="img/banner001.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="img/changeRight.png" alt="" class="change-icon" id="arrowRight"/>
            </div>

        </div>
    </div>

</div>