<!--英语学院课程介绍-->
<div class="jxc-container padding-bottom jxc-special-box">
    <h3 class="jxc-title line">英语学院课程介绍</h3>
    <!--TODO 异形轮播图-->
    <div class="swiper-button-prev swiper-college-button-prev"></div>

    <div class="swiper-container jxc-banner jxc-college">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="###">
                    <img src="img/banner001.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="###">
                    <img src="img/banner002.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="###">
                    <img src="img/banner003.jpg"/>
                </a>
            </div>
        </div>
    </div>
    <div class="swiper-button-next swiper-college-button-next"></div>

</div>