<!-- 成人如何学习部分 -->
    <div class="how-do-box">
        <!--标题-->
        <div class="jxc-title-box">
            <div>成人如何学好英语</div>
            <span class="jxc-line"></span>
        </div>
        <!--描述-->
        <div class="row do-box">
            {{set howDoImgs = [
                "https://xy.jianxc.com/jxcxyrootFolder/appImg/img/bubuzheng.jpg",
                "https://xy.jianxc.com/jxcxyrootFolder/appImg/img/banner.jpg",
                "https://xy.jianxc.com/jxcxyrootFolder/appImg/img/fangtianxia.jpg",
                "https://xy.jianxc.com/jxcxyrootFolder/appImg/img/bubuzheng.jpg",
                "https://xy.jianxc.com/jxcxyrootFolder/appImg/img/banner.jpg",
                "https://xy.jianxc.com/jxcxyrootFolder/appImg/img/fangtianxia.jpg",
            ]}}
            {{each howDoImgs}}
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <img src="{{$value}}" class="do-img"/>
            </div>
            {{/each}}
        </div>
    </div>