<div class="bg-fff  container-fluid">
    <div class="jxc-container padding">
        <h3 class="jxc-title no-margin">坚小持定制VIP英语课程</h3>
        <h3 class="jxc-title">让每个人都能享受到高品质在线英语教育</h3>
        <div class="row do-box">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <div class="study-enc-item">
                    <img src="img/vip_icon1.png" class="enc-img"/>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <div class="study-enc-item">
                    <img src="img/vip_icon2.png" class="enc-img"/>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <div class="study-enc-item">
                    <img src="img/vip_icon3.png" class="enc-img"/>
                </div>
            </div>
        </div>
    </div>
</div>