<!-- 学习阻碍问题部分 -->
    <div class="bg-fff container-fluid">
        <div class="jxc-container padding">
            <h3 class="jxc-title line">学习英语遇到哪些阻碍和问题</h3>
            <div class="swiper-container jxc-banner jxc-banner-issue">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="alien-swiper-box">
                            <img src="img/banner001.jpg"/>
                            <div class="alien-tip">学完课件总有问题  抓头没人问</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="alien-swiper-box">
                            <img src="img/banner002.jpg"/>
                            <div class="alien-tip">想学英语但不知道学什么适合自己</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="alien-swiper-box">
                            <img src="img/banner003.jpg"/>
                            <div class="alien-tip">没有专业纠正  多年发音都是错的</div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="alien-swiper-box">
                            <img src="img/banner002.jpg"/>
                            <div class="alien-tip">学完课件总有问题  抓头没人问</div>
                        </div>
                    </div>
                </div>
                <!--<div class="swiper-pagination"></div>-->
            </div>
        </div>
    </div>
