<!-- 成人如何学习部分 -->
    <div class="jxc-container padding container-fluid">
        <h3 class="jxc-title line">成人如何学好英语</h3>
        <!--描述-->
        <div class="row do-box">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <a href="###">
                    <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/bubuzheng.jpg" class="do-img"/>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <a href="###">
                    <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/banner.jpg" class="do-img"/>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <a href="###">
                    <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/fangtianxia.jpg" class="do-img"/>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <a href="###">
                    <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/bubuzheng.jpg" class="do-img"/>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <a href="###">
                    <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/banner.jpg" class="do-img"/>
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <a href="###">
                    <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/fangtianxia.jpg" class="do-img"/>
                </a>
            </div>
        </div>
    </div>