<!-- 怎么学 -->
    <div class="student-num-box">
        <!--标题-->
        <div class="jxc-title-box">
            <div>坚小持定制VIP英语课程</div>
            <span class="jxc-line"></span>
        </div>
        {{set studentList = [{
            introduce: "私人定制",
            img: "img/vip_icon1.png"
        }, {
            introduce: "精选外教",
            img: "img/vip_icon2.png"
        }, {
            introduce: "专属老师",
            img: "img/vip_icon3.png"
        }, {
            introduce: "优质课程",
            img: "img/vip_icon1.png"
        }]}}
        <div class="row do-box">
            {{each studentList}}
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 student-list">
                <img src="{{$value.img}}" class="enc-img"/>
                <span>{{$value.introduce}}</span>
            </div>
            {{/each}}
        </div>
    </div>