<!-- vip定制部分 -->
    <div class="jxc-container padding vip-setting container-fluid" id="vip-setting">
        <h3 class="jxc-title line" id="setTitle"></h3>
        <h5 class="jxc-title sub-title" id="setSubtitle"><span class="">量身</span></h5>
        <!--选择选项-->
        <div class="select-options-box" id="options"></div>

        <!--预留手机号码-->
        <div class="record-phone-box">
            <input class="phone-input" type="text" pattern="\d*" maxlength="11" placeholder="请输入手机号" id="userPhone"/>
            <div class="for-free-btn" onclick="sumbitUserInfo()">免费定制</div>
        </div>
    </div>