<!-- 怎么学 -->
    <div class="jxc-container padding container-fluid">
        <h3 class="jxc-title line">看20万学员如何学英语</h3>

        <div class="row do-box">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 student-list">
                <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/bubuzheng.jpg" class="enc-img"/>
                <span>上课灵活</span>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 student-list">
                <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/fangtianxia.jpg" class="enc-img"/>
                <span>1v1外教+中教</span>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 student-list">
                <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/bubuzheng.jpg" class="enc-img"/>
                <span>上课灵活</span>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 student-list">
                <img src="https://xy.jianxc.com/jxcxyrootFolder/appImg/img/fangtianxia.jpg" class="enc-img"/>
                <span>1v1外教+中教</span>
            </div>
        </div>
    </div>