<!-- vip定制课程部分 -->
    <div class="jcx-features-box">
        <!--标题-->
        <div class="jxc-title-box">
            <div>坚小持定制VIP英语课程</div>
            <div>让每个人都能享受到高品质在线英语教育</div>
        </div>

        {{set vipFeaturesImgs = [
            "img/vip_icon1.png",
            "img/vip_icon2.png",
            "img/vip_icon3.png"
        ]}}
        <div class="row do-box">
            {{each vipFeaturesImgs}}
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 dec-list">
                <img src="{{$value}}" class="enc-img"/>
            </div>
            {{/each}}
        </div>

    </div>