<!-- 联系我们 -->
<div class="full">
    <div class="er-nav">
        <div class="jxc-container share-nav">
            <p>您所在位置：学习分享 > 文章详情</p>
        </div>
    </div>
    <div  class="jxc-container">
        <img  src="img/banner001.jpg" class="share-img"/>
        <div class="article-content">
            <p class="article-title">标题标题标题标题标题标题标题标题标题标题</p>
            <div class="article-txt">
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>

            </div>
        </div>
    </div>
</div>