<!--口语分享-->
<div class="share-directory-box share-directory-padding">
    <h3 class="jxc-title">口语分享</h3>
    <!--副标题-->
    <div class="en-explain">
        <span class="gray-line"></span>
        <div class="en-content">Spoken English Sharing</div>
        <span class="gray-line"></span>
    </div>

    <!--TODO 样式后期优化-->
    <!--推荐文章-->
    <div class="recom-article-box jxc-banner">
        <div class="article-img">
            <img src="img/banner001.jpg"/>
        </div>
        <div class="article-content">
            <div class="article-title">文章标题文章标题文章标题文章标题</div>
            <div>内容手段剪切内容手段剪切内容手剪切内容手段剪切内容手段剪切内容手段剪切内容手段剪切内容手段剪切内容手内容手段剪切内容手段剪切内容手剪切内容手段剪切内容手段剪切内容手段剪切内容手段剪切内容手段剪切内容手</div>
        </div>
    </div>


    <!--文章列表-->
    <div class="article-list-box">
        <div class="article-list-title">文章标题</div>
        <ul class="article-ul">
            <li class="article-list">1.文章文章文章文章文章文章文章文章文章</li>
            <li class="article-list">4.文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文章文章文章文章文章文章文章</li>
            <li class="article-list">1.文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文章文章文章文章文章文章文章文章文章文章文章</li>
            <li class="article-list">8.文章文章文章文章文章文章文章文章文章文章文章</li>
            <li class="article-list">1.文章文章文章文章文章文章文章文章文章文章文章</li>
            <li class="article-list">1.文章文章文章文章文章文章文章文章文章文章文章</li>
            <li class="article-list">1.文章文章文章文章文章文章文章文章文章文章文章</li>
        </ul>
    </div>

</div>