<!--学员分享-->
<div class="bg-fff user-padding padding-none jxc-container" style="position: relative">

    <div class="user-position">
        <!--学员分享 内-->
        <div class="paceback">
            <div class="user-text">学员</div>
            <div>分享</div>
        </div>
        <div class="btn-place">
            <div class="button-prev"></div>
            <div class="button-next"></div>
        </div>
    </div>

    <!--轮播图-->
    <div class="swiper-container jxc-banner jxc-share">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-shadow">
                <a href="###">
                    <img src="img/banner001.jpg"/>
                </a>
                <div class="share-box">
                    <div class="share-title">我是分享标题</div>
                    <div class="share-content">截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内</div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="###">
                    <img src="img/banner002.jpg"/>
                </a>
                <div class="share-box">
                    <div class="share-title">我是分享标题</div>
                    <div class="share-content">截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内</div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="###">
                    <img src="img/banner003.jpg"/>
                </a>
                <div class="share-box">
                    <div class="share-title">我是分享标题</div>
                    <div class="share-content">截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内</div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="###">
                    <img src="img/banner003.jpg"/>
                </a>
                <div class="share-box">
                    <div class="share-title">我是分享标题</div>
                    <div class="share-content">截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内容首段截取内</div>
                </div>
            </div>
        </div>
    </div>

</div>