<!-- 课程介绍轮播图 -->
<div class="jxc-container padding container-fluid">
  <h3 class="jxc-title line">英语学院课程介绍</h3>

  <div class="jxc-banner jxc-banner-course-description">
    <div class="swiper-container banner-viewer">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-no-swiping">
          <a target="_blank"><img src="img/banner001.jpg" alt=""></a>
        </div>
        <div class="swiper-slide swiper-no-swiping">
          <a target="_blank"><img src="img/banner002.jpg" alt=""></a>
        </div>
        <div class="swiper-slide swiper-no-swiping">
          <a target="_blank"><img src="img/banner003.jpg" alt=""></a>
        </div>
        <div class="swiper-slide swiper-no-swiping">
          <a target="_blank"><img src="img/banner001.jpg" alt=""></a>
        </div>
        <div class="swiper-slide swiper-no-swiping">
          <a target="_blank"><img src="img/banner002.jpg" alt=""></a>
        </div>
        <div class="swiper-slide swiper-no-swiping">
          <a target="_blank"><img src="img/banner003.jpg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="banner-control">
        <div class="banner-content"></div>
        <div class="banner-preview">
          <a class="arrow arrow-left" href="#"></a>
          <a class="arrow arrow-right" href="#"></a>
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide active-nav">
                    <img src="img/banner001.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="img/banner002.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="img/banner003.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="img/banner001.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="img/banner002.jpg" alt="">
                  </div>
                  <div class="swiper-slide slide6">
                    <img src="img/banner003.jpg" alt="">
                  </div>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>