<!--专项课介绍-->
<div class="jxc-container padding-bottom jxc-special-box">
    <h3 class="jxc-title line">专项课程介绍</h3>
    <div class="swiper-button-prev swiper-button-gray-prev"></div>
    <!--轮播图-->
    <div class="swiper-container jxc-banner jxc-special">
        <div class="swiper-wrapper">
            <div class="swiper-slide special-slide">
                <img src="img/banner001.jpg"/>
                <!--查看更多-->
                <div class="view-more-box">
                    <span>查看更多</span>
                    <img src="img/right.png" class="more-icon"/>
                </div>
            </div>
            <div class="swiper-slide special-slide">
                <img src="img/banner002.jpg"/>
                <!--查看更多-->
                <div class="view-more-box">
                    <span>查看更多</span>
                    <img src="img/right.png" class="more-icon"/>
                </div>
            </div>
            <div class="swiper-slide special-slide">
                <img src="img/banner003.jpg"/>
                <!--查看更多-->
                <div class="view-more-box">
                    <span>查看更多</span>
                    <img src="img/right.png" class="more-icon"/>
                </div>
            </div>
            <div class="swiper-slide special-slide">
                <img src="img/banner003.jpg"/>
                <!--查看更多-->
                <div class="view-more-box">
                    <span>查看更多</span>
                    <img src="img/right.png" class="more-icon"/>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next swiper-button-gray-next"></div>

</div>