<!--教师介绍-->
<div class="bg-fff">
    <div class="jxc-container padding padding-none container-fluid">
        <h3 class="jxc-title line">教师介绍</h3>
        <!--具体老师介绍-->
        <!-- 模拟数据 -->
        <div class="row teacher-box" id="teacher"></div>
        <!--TODO 后期样式优化-->
        <div class="row teacher-box">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 teacher-inner-box">
                <div class="teacher-img">
                    <img src="img/vip_icon1.png"/>
                </div>
                <div class="teacher-introduce">
                    <div class="teacher-name">劳海龙 Laurence</div>
                    <div>坚小持微课创始人 CEO</div>
                    <div>TESOL认证</div>
                    <div>原新东方集团优秀老师原新东方集团优秀老师原新东方集团优秀老师原新东方集团优秀老师</div>
                    <div>原精英英语校长</div>
                    <div>10年教龄</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 teacher-inner-box">
                <div class="teacher-img">
                    <img src="img/vip_icon1.png"/>
                </div>
                <div class="teacher-introduce">
                    <div class="teacher-name">劳海龙 Laurence</div>
                    <div>坚小持微课创始人 CEO</div>
                    <div>TESOL认证</div>
                    <div>原新东方集团优秀老师</div>
                    <div>原精英英语校长 10年教龄</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 teacher-inner-box">
                <div class="teacher-img">
                    <img src="img/vip_icon1.png"/>
                </div>
                <div class="teacher-introduce">
                    <div class="teacher-name">劳海龙 Laurence</div>
                    <div>坚小持微课创始人 CEO</div>
                    <div>TESOL认证</div>
                    <div>原新东方集团优秀老师</div>
                    <div>原精英英语校长 10年教龄</div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 teacher-inner-box">
                <div class="teacher-img">
                    <img src="img/vip_icon1.png"/>
                </div>
                <div class="teacher-introduce">
                    <div class="teacher-name">坚小持微课创始人 Laurence</div>
                    <div>CEO</div>
                    <div>TESOL认证</div>
                    <div>原新东方集团优秀老师</div>
                    <div>原精英英语校长 10年教龄</div>
                </div>
            </div>

        </div>

        <!--教师优势-->
        <h3 class="jxc-title line">教师优势</h3>
        <div class="row teacher-advantage-box">
            <div class="col-9 col-sm-9 col-md-9 col-lg-9">
                <a href="###">
                    <img src="img/banner001.jpg" class="first-layer-icon"/>
                </a>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                <a href="###">
                    <img src="img/banner001.jpg" class="first-layer-icon"/>
                </a>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <a href="###">
                    <img src="img/banner001.jpg" class="first-layer-icon"/>
                </a>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <a href="###">
                    <img src="img/banner001.jpg" class="first-layer-icon"/>
                </a>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <a href="###">
                    <img src="img/banner001.jpg" class="first-layer-icon"/>
                </a>
            </div>
        </div>
    </div>

</div>