<!--热门文章-->
<div class="top-article-box jxc-container margin-bottom">
    <div class="top-article-left-box">
        <div class="top-article-title">热门文章</div>
        <img src="img/banner003.jpg" class="top-article-left-img"/>
        <!--TODO 循环文章标题  计算宽度-->
        <a href="###">
            <div class="top-article-list">1.文章文章文章文章文章文</div>
        </a>
        <a href="###">
            <div class="top-article-list">1.文章文章文章文章文章文文章文章文章文章文章文文章文章文章文章文章文文章文章文章文章文章文</div>
        </a>
        <a href="###">
            <div class="top-article-list">1.文章文章文章文章文章文</div>
        </a>
        <a href="###">
            <div class="top-article-list">1.文章文章文章文章文章文</div>
        </a>
    </div>
    <div class="top-article-right-box">
        <div class="top-article-title">热门文章</div>
		<img src="img/banner003.jpg" class="top-article-right-img"/>
            <a href="###">
                <div class="top-article-list">1.文章文章文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文章文章文章文</div>
            </a>
            <a href="###">
                <div class="top-article-list">1.文章文章文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文章文章文章文</div>
            </a>
            <a href="###">
                <div class="top-article-list">1.文章文章文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文章文章文章文</div>
            </a>
            <a href="###">
                <div class="top-article-list">1.文章文章文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文文章文章文章文章文章文章文章文</div>
            </a>
    </div>

</div>