<!--体验课列表-->
<div class="trial-box jxc-container">
    <div class="tab-box">
        <!--tab切换-->
        <ul class="tab-ul">
            <li>
                <div class="line-active">综合排序</div>
                <span class="line-select line-selected"></span>
            </li>
            <li>
                <div>人气</div>
                <span class="line-select"></span>
            </li>
            <li>
                <div>最新</div>
                <span class="line-select"></span>
            </li>
            <li>
                <div>价格</div>
                <span class="line-select"></span>
            </li>
        </ul>
        <!--分页切换-->
        <div class="page-switch-box">
            <img src="img/left.png"/>
            <div>1/1449</div>
            <img src="img/right.png"/>
        </div>
    </div>

    <!--课程列表-->
    <ul class="free-course-box">
        <li>
            <div class="free-course-left">
                <img src="img/vip_icon1.png" class="cuorse-img"/>
                <div class="free-course-details">
                    <!--标题-->
                    <div class="course-title">上海内部培训师培训-贤重企业培训</div>
                    <!--副标题或简介-->
                    <div class="subtitle">上海贤重企业管理咨询有限公司</div>
                    <!--班级类型及规模-->
                    <div class="course-type-box">
                        <div class="course-type-left">班级类型：其他</div>
                        <div>班级规模：200000人以下</div>
                    </div>
                    <!--班级时长及人气-->
                    <div class="course-hot-box">
                        <div class="course-length">班级时长：99周内课时</div>
                        <div class="hot-box">
                            <img src="img/huo.png"/>
                            <div>课程人气：9999</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="free-course-right">
                <span>电话咨询</span>
                <div class="join">立即报名</div>
            </div>
        </li>
        <li>
            <div class="free-course-left">
                <img src="img/vip_icon1.png" class="cuorse-img"/>
                <div class="free-course-details">
                    <!--标题-->
                    <div class="course-title">上海内部培训师培训-贤重企业培训</div>
                    <!--副标题或简介-->
                    <div class="subtitle">上海贤重企业管理咨询有限公司</div>
                    <!--班级类型及规模-->
                    <div class="course-type-box">
                        <div class="course-type-left">班级类型：其他</div>
                        <div>班级规模：200000人以下</div>
                    </div>
                    <!--班级时长及人气-->
                    <div class="course-hot-box">
                        <div class="course-length">班级时长：99周内课时</div>
                        <div class="hot-box">
                            <img src="img/huo.png"/>
                            <div>课程人气：9999</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="free-course-right">
                <span>电话咨询</span>
                <div class="join">立即报名</div>
            </div>
        </li>
        <li>
            <div class="free-course-left">
                <img src="img/vip_icon1.png" class="cuorse-img"/>
                <div class="free-course-details">
                    <!--标题-->
                    <div class="course-title">上海内部培训师培训-贤重企业培训</div>
                    <!--副标题或简介-->
                    <div class="subtitle">上海贤重企业管理咨询有限公司</div>
                    <!--班级类型及规模-->
                    <div class="course-type-box">
                        <div class="course-type-left">班级类型：其他</div>
                        <div>班级规模：200000人以下</div>
                    </div>
                    <!--班级时长及人气-->
                    <div class="course-hot-box">
                        <div class="course-length">班级时长：99周内课时</div>
                        <div class="hot-box">
                            <img src="img/huo.png"/>
                            <div>课程人气：9999</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="free-course-right">
                <span>电话咨询</span>
                <div class="join">立即报名</div>
            </div>
        </li>
    </ul>

</div>