*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Pingfang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    tap-highlight-color:rgba(255,255,255,0);
    -webkit-user-select:none;
    user-select:none;
    background-color: #fff;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
    color:#7a7a7a;
}
input[type=text]{
    background:transparent;
    outline:none;
    border: none;
    border-radius: 0;
}
textarea {
    background:transparent;
    outline:none;
    border: none;
    border-radius: 0;
}

.jxc-container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F1F1F1;
}

.jxc-page-box{
    width: 100%;
    padding: .77rem  0  .37rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-box{
    /*width: 100%;*/
    padding: .35rem 0 .31rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .24rem;
    color:#2A2929;
}
.nav-change{
    color:#C30D23;
    font-weight: 500;
}
.logo-img{
    width: 1.7rem;
    /*height: 0.41rem;*/
    display: block;
    margin-right: 1.2rem;
}
.menu-box{
    width: 100%;
}
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-between;*/
    margin-bottom: 0;
}
.menu li{
    margin-right: .5rem;
}
.menu li:last-child{
    margin-right: 0;
}

/*标题样式 start*/
.jxc-title-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#2A2929;
    font-weight: bold;
    font-size: .4rem;
}
.jxc-line{
    width: 1.82rem;
    height: .04rem;
    background-color: #C30D23;
    margin-top: .2rem;
}
/*标题样式 end*/

/*副标题样式 start*/
.subtitle-box{
    font-size: .3rem;
    color:#2A2929;
    font-weight: 600;
    margin-top: .56rem;
}
.subtitle{
    color:#C30D23;
}
/*副标题样式 end*/

/*修改swiper分页器样式 开始*/
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:-30px!important;
}
.my-bullet{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin:0 4px;
}
.my-bullet-active{
    background-color: #D92121;
}
/*修改swiper分页器样式 结束*/
.select-icon{
    width: .22rem;
    height: .22rem;
    margin-right: .1rem;
    display: block;
    flex-shrink: 0;
}

/*预留手机号样式start*/
.record-phone-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.phone-input{
    /*width: 4.18rem;*/
    /*height: .58rem;*/
    padding:.18rem 2.8rem .14rem .18rem;
    box-sizing: border-box;
    border: 1px solid #B5B5B5!important;
    border-radius: .1rem!important;
    font-size: .24rem;
    color:#6A6A6A;
    margin: .6rem .38rem 0 0;
}
.for-free-btn{
    /*width: 2.38rem;*/
    /*height: .58rem;*/
    padding: .18rem .74rem;
    border: 1px solid #AE2923;
    border-radius: .1rem;
    font-size: .24rem;
    color:#AE2923;
    margin-top: .6rem;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    transition: background-color 0.5s;
}
.for-free-btn:hover,.for-free-btn:active{
    background-color: #AE2923;
    color:#fff;
    cursor:pointer;
}
/*预留手机号样式end*/

/*学员分享和反馈 样式start*/
.user-share-box{
    width: 100%;
    padding:.99rem .8rem 0;
    background-color: #fff;
    position: relative;
}
.user-position{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.btn-place{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .32rem;
    box-sizing: border-box;
}
.button-prev,.button-next{
    width: .39rem;
    height: .41rem;
}
.button-prev{
    background: url("../img/pre.png") no-repeat;
    background-size: 100% 100%;
    margin-right: .5rem;
}
.button-next{
    background: url("../img/next.png") no-repeat;
    background-size: 100% 100%;
}
.paceback{
    width: 2.94rem;
    height: 5.12rem;
    padding-top: .32rem;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: .48rem;
    color:#fff;
    background-color: #C30D23;
}
.user-text{
    font-size: .24rem;
    margin-right: .2rem;
}


/*学员分享和反馈 样式end*/

[v-cloak] {
    display: none
}
