

.top-swiper-box{
    width: 100%;
}
.top-swiper-img img{
    width: 100%;
    display: block;
}
.step1{
    width: 100%;
}


.select-options-box{
    width: 100%;
    padding: 0 .5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.select-options-title{
    width: 100%;
    font-size: .28rem;
    color:#2A2929;
    margin-top: .4rem;
}
.choose-box{
    /*width: 100%;*/
    padding-left:1.8rem;
    box-sizing: border-box;
    font-size: .26rem;
    color:#6A6A6A;
    display: flex;
    /*flex-wrap:wrap;*/
    align-items: center;
    justify-content: center;
}
.select-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: .3rem;
}
/*选中样式*/
.active-li{
    color:#2A2929;
}
.study-issue-box{
    padding: .7rem 0;
    background-color: #fff;
}

.how-do-box{
    width: 100%;
    padding: .43rem .5rem .5rem;
    box-sizing: border-box;
}
.do-box{
    /*width: 100%;*/
    padding: 0 .5rem;
    box-sizing: border-box;
}
.do-img,.enc-img{
    width:100%;
    display: block;
}
.dec-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
}
.study-enc-box,
.jcx-features-box{
    padding-top: .7rem;
    background-color: #fff;
}

.study-enc-item{
    width: 100%;
    position: relative;
}
.study-enc-item img,
.study-enc-item .enc-text{
    border-radius: .2rem;
}
.study-enc-item .enc-text{
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    padding: .2rem;
    box-sizing: border-box;
    background: rgba(106,106,106,.8);
    font-size: .28rem;
    color:#FBFBFC;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.study-enc-item:hover .enc-text{
    display: flex;
}

.jcx-features-box{
    padding-bottom: .7rem;
}
.student-num-box{
    padding:.4rem 0;
}
.student-list{
    margin-top: .4rem;
    font-size: .28rem;
    color:#010101;
    text-align: center;
}



@media screen and (min-width: 780px) {

}