<!-- vip定制部分 -->
    <div class="jxc-container padding vip-setting container-fluid" id="vip-setting">
        <h3 class="jxc-title line">坚小持成人英语VIP定制 开启不一样的人生</h3>
        <h5 class="jxc-title sub-title"><span class="">量身</span>量身定制成人英语学习方法 英语速成见效快</h5>

        <!--<div class="row" v-for="(conditionItem,conditionIndex) in VipPlan.condition">-->
            <!--<div class="col-3 title" v-text="title(conditionItem.chooseTitle)">-->
                <!--您的职业是:-->
            <!--</div>-->
            <!--<div class="col-9">-->
                <!--<ul class="choose-box">-->
                    <!--<li :class="(chooseItem.value != chooseData[conditionItem.dataKey] ? '' : 'selected')"-->
                        <!--v-for="(chooseItem,index) in conditionItem.chooseCondition"-->
                        <!--v-text="chooseItem.label"-->
                        <!--v-on:click="chooseOption(index,conditionIndex)">职业白领</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--选择选项-->
        <div class="select-options-box" v-for="(conditionItem,conditionIndex) in VipPlan.condition">
            <div class="select-options-title" v-text="title(conditionItem.chooseTitle)"></div>
            <!--选项-->
            <ul class="row choose-box">
                <li :class=" 'col-6 col-sm-3 col-md-3 col-lg-3 select-list ' + (chooseItem.value != chooseData[conditionItem.dataKey] ? '' : 'selected')"
                     v-for="(chooseItem,index) in conditionItem.chooseCondition"
                     v-on:click="chooseOption(index,conditionIndex)" v-text="chooseItem.label">
                </li>
            </ul>
        </div>
        <!--预留手机号码-->
        <div class="record-phone-box">
            <input class="phone-input" type="text" pattern="\d*" maxlength="11" placeholder="请输入手机号" id="userPhone"/>
            <div class="for-free-btn" v-on:click="sumbitUserInfo">免费定制</div>
        </div>
    </div>